[submodule "libc"]
	path = libc
	url = https://github.com/embeddedartistry/libc.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
	branch = v5.4.0
[submodule "arith64"]
	path = arith64
	url = https://github.com/glitchub/arith64.git
[submodule "libmemory"]
	path = libmemory
	url = https://github.com/embeddedartistry/libmemory.git
